snippet enum "Enumerate list"
\begin{enumerate}
	\item ${1:<+First item+>}
\end{enumerate}
$0
endsnippet

snippet enuma "Enumerate list with argument"
\begin{enumerate}[${1:<+Argument+>}]
	\item ${2:<+First item+>}
\end{enumerate}
$0
endsnippet

snippet itemize "Item list"
\begin{itemize}
	\item ${1:<+First item+>}
\end{itemize}
$0
endsnippet

snippet desc "Description list"
\begin{description}
	\item [${1:<+Description+>}] ${2:<+First item+>}
\end{description}
$0
endsnippet
